#mylogo {
    position: relative;
    opacity: 0;
    text-align: center;
    padding: 10px;
    width: 100px;
}

#logo_info {
    position: relative;
    width: 250px;
    color: black;
    margin-top: 5px;
    opacity: 0;
}

hr {
    margin-top: 20px;
}

#text1 {
    font-size: 200%;
}

.class1 {
    color: #6fb936;
}

.class2 {
    color: #f38630;
}