* {
    margin: 0;
    padding: 0;
}

body {
    /* 消除抗锯齿 */
    -webkit-font-smoothing: antialiased;
    background-color: #fff;
    /* 对于中文的情况 使用unicode的响应编码放到里面才可使用  黑体 \9ED1\4F53 宋体 \5B8B\4F53  */
    font: 12px/1.5 Microsoft YaHei;
    color: #666;
}

.hide,
.none {
    display: none;
}

.clearfix:before,
.clearfix:after {
    /* 清除浮动 */
    content: "";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    /*照顾ie6 ie 7*/
    *zoom: 1;
}