* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "bit_font";
    src: url(../fonts/8bittype.ttf);
}

html,
body {
    width: 1366px;
    height: 700px;
    margin: 0 auto;
    padding: 0 auto;
    overflow: hidden;
}

#back1 {
    position: absolute;
    left: 5%;
    top: 8%;
    width: 20%;
    height: 10%;
    background-image: url(../img/logo2.png);
    background-position: center;
    background-size: 100% 100%;
    z-index: -1;
    opacity: 2;
    image-rendering: pixelated;
    opacity: 1;
}

#back2 {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center;
    z-index: -2;
    image-rendering: pixelated;
}

.back_wrap {
    width: 200%;
    height: 100%;
    position: relative;
    animation: run_back 3s linear infinite;
}

@keyframes run_back {
    from {
        left: 0;
    }
    to {
        left: -100%;
    }
}

.back_wrap div {
    float: left;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url(../img/stars.png);
    background-repeat: inherit;
    background-size: 50% 50%;
}

#title1 {
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 18.5%;
    bottom: calc(45%);
    z-index: 1;
    font-size: 36px;
    font-weight: 700;
    opacity: 0;
    color: white;
    text-shadow: 5px 5px 2px black;
    font-family: "bit_font";
}

#title2 {
    position: absolute;
    width: 1000px;
    height: 50px;
    left: 32.5%;
    bottom: calc(50% - 120px);
    z-index: 1;
    font-size: 36px;
    font-weight: 700;
    opacity: 0;
    color: white;
    text-shadow: 5px 5px 2px black;
    font-family: "bit_font";
}

.logo_set {
    left: 5%;
    bottom: -20%;
    position: absolute;
    z-index: -1;
}

.logo_set img {
    width: 100px;
    height: 100px;
    padding: 15px;
}

.logo_set2 {
    left: 50%;
    bottom: 60%;
    position: absolute;
    opacity: 0;
    z-index: -1;
}

.logo_set2 img {
    width: 64px;
    height: 64px;
    padding: 0;
}

.index_sum {
    position: relative;
    width: 100%;
    height: 100%;
}

.index_set {
    position: absolute;
    height: 80px;
    top: calc(50% - 150px);
    left: calc(50% - 120px);
    background-color: skyblue;
    border: 5px solid white;
    border-radius: 5px;
    text-align: center;
    opacity: 0;
}

a {
    display: block;
    text-decoration: none;
    transition: all 0.5s;
    font-weight: 700;
    margin: 10px 20px;
    color: white;
    border: 2px solid white;
}

a:visited {
    color: white;
}

a:hover {
    /* 注意 animation的有些属性 不能作用在行内元素上  请转换为块元素 行内块元素 */
    transform: scale(1.2);
    transition: 0.5s ease-in-out;
}

.index_outer {
    position: absolute;
    z-index: 1;
}

#index_outer1 {
    top: -100%;
    left: 0;
    width: 3%;
    height: 100%;
    background-color: red;
}

#index_outer2 {
    top: 100%;
    right: 0;
    width: 3%;
    height: 100%;
    background-color: green;
}

#index_outer3 {
    right: 100%;
    bottom: 0;
    width: 100%;
    height: 5%;
    background-color: blue;
}

#index_outer4 {
    right: -100%;
    top: 0;
    width: 100%;
    height: 5%;
    background-color: yellow;
}